<h1>Editing Designer Application</h1>

<%= render 'form', designer_application: @designer_application %>

<%= link_to 'Show', @designer_application %> |
<%= link_to 'Back', designer_applications_path %>
