<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h3>¿Necesitas ayuda?</h3>
                <a href="tel://0056987677250" id="phone">+56 9876 772 50</a>
            </div>
            <div class="col-md-3 col-sm-4">
                <h3>About</h3>
                <ul>
                    <li><a href="<%= root_path %>">Acerca de Nosotros</a>
                    </li>
                    <li><a href="<%= root_path %>">Preguntas Frecuentes</a>
                    </li>
                    <li><a href="<%= root_path %>">Términos y condiciones</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-5">
                <h3>Síguenos</h3>
                <ul>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="icon-facebook"></i></a>
                    </li>
                    <li><a href="https://www.twitter.com/" target="_blank"><i class="icon-twitter"></i></a>
                    </li>
                    <li><a href="https://plus.google.com/" target="_blank"><i class="icon-google"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="icon-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12">
                <h3>Newsletter</h3>
                <div id="message-newsletter_2">
                </div>
                <form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2">
                    <div class="form-group">
                        <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Ingresa tu email" class="form-control">
                    </div>
                    <input type="submit" value="Subscribe" class="btn_1" id="submit-newsletter_2">
                </form>
            </div>
        </div>
    </div>
</footer>
 -->
<footer class="bs-docs-footer"> 
    <div class="container"> 
        <div class="col-md-4">
            <a href="https://twitter.com/getbootstrap">Twitter</a>
        </div>
        <div class="col-md-4">
            <a href="../about/">About</a>
        </div>
        <p>Designed and built with all the love in the world by 
            <a href="https://twitter.com/lau_v" target="_blank">@lau_v</a>
        </p> 
    </div> 
</footer>